<h1>訂便當系統</h1>
<form action="atmviews" method="post">
<div>
帳號<input type="email" placeholder="請輸入eail" name="">
</div>
密碼<input type="password" placeholder="請輸入密碼" name="">
<input type="submit" value="登入">


